@model asp_net_mvc_t03.DTO.Frontend.FromForm.LoginForm

@{
    ViewBag.Title = "Login";
    Layout = "_Layout";
}
<div id="formWrapper">
    <form asp-action="Login" id="loginForm" asp-controller="Account" asp-anti-forgery="true">

        <div class="row mb-4">
            <div class="col">
                <h2>Login</h2>
            </div>
        </div>

        <!-- Email input -->
        <div class="form-outline mb-4">
            <input type="email" id="form1Example1" class="form-control" asp-for="Email" required placeholder="user@example.com"/>
            <label asp-for="Email" class="form-label" for="form1Example1">Email address</label>
            <span asp-validation-for="Email"></span>
        </div>

        <!-- Password input -->
        <div class="form-outline mb-4">
            <input type="password" id="form1Example2" class="form-control" asp-for="Password" required/>
            <label asp-for="Password" class="form-label" for="form1Example2">Password</label>
            <span asp-validation-for="Password"></span>
        </div>

        <div class="row mb-4">
            <div class="col">
                <button type="submit" class="btn btn-primary btn-block">Sign in</button>
            </div>
        </div>
        
        <div class="row mb-4">
            <div class="col">
                <a asp-action="Register" id="registerUrl" asp-controller="Account">Registration</a>
            </div>
        </div>
        
    </form>
</div>

<style>
    #formWrapper {
        text-align: center;
    }
    
    #loginForm {
        width: 300px;
        text-align: left;
        display: inline-block;
    }
</style>