@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div>
    Create new message? <br/>
    To: <input type="text" required name="toUser" id="toUser"/> <br/>
    Topic: <input type="text" required name="head" id="head"/> <br/>
    Body: <textarea minlength="1" maxlength="1000" required name="body" id="body"></textarea>
    <input type="submit" value="send" id="send"/>
</div>

<span id="addressRecommendation">
</span>

<style>
#addressRecommendation{
    display: none;
    position: absolute;
    background: lightblue;
    margin: 10px;
}
.addressesRecommendations
{
    cursor: pointer;
    padding: 5px;
}
.addressesRecommendations:hover{
    background: lightgray;
}

textarea#body {
    width: 450px;
    height: 350px;
}
</style>